* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Manrope", sans-serif;
}

.app {
  display: flex;
  width: 100%;
  height: 100vh;
}

.app__controls {
  flex: 0.5;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #eeeaea;
}

.app__control {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  height: 90px;
  width: 350px;
  border-radius: 10px;
  font-size: 14px;
  font-weight: 400;
}

.slider-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 55%;
  background: white;
  border-radius: 10px 10px 0px 0px;
  border: solid 2px lightgrey;
  padding-left: 20px;
}

.value-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50%;
  background: lightgrey;
  border-radius: 0px 0px 10px 10px;
}


.label {
  width: 100px;
}


